<form
  action=""
  class="w-25 mx-auto mt-5 border rounded-4 p-5"
  style="min-width: 300px"
  [formGroup]="signUpForm"
>
  <div *ngIf="submitError.showAlert" class="alert alert-danger" role="alert">
    Ocorreu um erro! {{ submitError.message }}
  </div>
  <h2 class="text-center mb-4">Crie uma conta!</h2>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      placeholder="exemplo@email.com"
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div
      class="invalid-feedback"
      [style.display]="
        signUpForm.controls.email.invalid && signUpForm.controls.email.touched
          ? 'block'
          : 'none'
      "
    >
      Digite o e-mail corretamente.
    </div>
  </div>
  <div class="mb-4">
    <label for="password" class="form-label">Senha</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <div
      class="invalid-feedback"
      [style.display]="
        signUpForm.controls.password.invalid &&
        signUpForm.controls.password.touched
          ? 'block'
          : 'none'
      "
    >
      A senha precisa conter pelo menos 8 caracteres. No mínimo, um maiúsculo,
      um minúsculo e um número.
    </div>
  </div>

  <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()">
    Registrar
  </button>
</form>
