<form
  action=""
  class="mx-auto mt-5 border rounded-4 d-flex w-50"
  style="min-width: 350px"
>
  <img
    class="w-50 bg-image rounded-start-4"
    src="../../assets/bg-signUp.jpg"
    alt=""
    srcset=""
  />
  <div class="mx-auto py-5" style="min-width: 250px; width: 35%">
    <h2 class="text-center mb-3">Cadastro</h2>
    <p class="text-center text-secondary mb-5">
      Bem-vindo! Selecione um tipo de usuário para prosseguir com o cadastro.
    </p>
    <div class="mb-4">
      <a [routerLink]="['/signUpUser']" class="text-decoration-none">
        <button class="btn btn-primary w-100">Normal</button>
      </a>
    </div>
    <p class="text-center text-secondary">ou</p>
    <div class="mb-4">
      <a [routerLink]="['/signUpSeller']" class="text-decoration-none">
        <button class="btn btn-primary w-100">Vendedor</button>
      </a>
    </div>
    <p class="text-center text-secondary mt-4 mb-0">
      Já possui uma conta?
      <a [routerLink]="['/login']" class="text-decoration-none">Faça login</a>
    </p>
  </div>
</form>
