<main class="d-flex flex-column align-items-center row-gap-5">
  <section class="d-flex w-75 gap-1">
    <div
      style="
        background-image: url(../../../assets/banner.jpg);
        background-position: center;
      "
      class="w-50 object-fit-cover rounded-5"
    ></div>
    <div
      style="background-color: #efefef"
      class="w-50 d-flex flex-column row-gap-4 p-5 rounded-5"
    >
      <h2 class="text-uppercase">
        Distribuição de produtos de alta qualidade e ótimos serviços
      </h2>
      <div class="gap-5 align-items-start">
        <p class="m-0 fs-5">Navegue pelo nosso catálogo!</p>
        <p class="fs-6 text-black-50">
          O que você procura pode estar bem aqui...
        </p>
        <button type="button" class="btn btn-outline-dark rounded">
          Explorar
        </button>
      </div>
    </div>
  </section>
  <section class="w-75">
    <h1 class="text-uppercase text-center">Mais populares</h1>
    <p class="text-center text-black-50">
      Confira os nossos itens mais populares!
    </p>
    <div class="row row-cols-auto justify-content-center gap-3">
      <div *ngFor="let product of this.products">
        <a
          [routerLink]="['/viewProduct/' + product.key]"
          class="text-decoration-none"
        >
          <div class="card border border-0 p-2 item-card" style="width: 25rem">
            <img
              src="{{ product.image }}"
              class="card-img-top rounded-4 object-fit-cover"
              style="height: 300px; object-position: top"
              alt="..."
            />
            <div class="d-flex flex-column row-gap-0 p-0 mt-1">
              <h5 class="fw-bold mb-0">{{ product.name }}</h5>
              <p class="text-black-50 mb-1">{{ product.brand }}</p>
              <h5 class="f2-bold">R${{ product.price }}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
</main>
